:root
{
    --grid-rows: 16;
    --grid-cols: 16;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    font-family: 'Patrick Hand', cursive;
}
header
{
    position: relative;
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #838ae9;
    color: rgb(31, 31, 31);
}
#logo
{
    padding-left: 2vw;
    font-size: 3.5vmin;
    flex: 1;
}
#size-form
{
    padding-right: 1rem;
    font-size: 3vmin;
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#size
{
    border-radius: 2rem;
    padding-left: 1rem;
    border: none;
    width: 15vw;
    height: 4vh;
}
#size:focus, #clrbtn:focus
{
    outline: none;
}
#btn-container
{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
#clrbtn
{
    background-color: rgb(31, 31, 31);
    color: white;
    font-family: inherit;
    font-size: 4vmin;
    border: none;
    border-radius: 2rem;
    width: 15vw;
    height: 80%;
    margin-right: 3vw;
    cursor: pointer;
    transition: transform 0.1s ease;
}
#clrbtn:hover
{
    transform: scale(1.1);
}
main
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 11, 61);
    height: 93vh;
}
#container
{
    display: grid;
    height: 80vh;
    width: 80vh;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    border: 10px solid #c7c7c7;
    border-radius: 0.5rem;
    background-color: white;
}
.trail
{
    background-color: red;
}